<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head"></head>
<body>
<div th:include="layout :: navigationPanel"></div>
<h1>Edytuj:</h1>
<form th:action="@{/edit}" method="POST" th:object="${user}">
    <div>
        <input type="text" th:field="*{name}" placeholder="Imię"/>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></div>
    </div>
    <div>
        <input type="text" th:field="*{surname}" placeholder="Nazwisko"/>
        <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color:red;"></div>
    </div>
    <div>
        <input type="text" th:field="*{login}" placeholder="Login"/>
        <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color:red;"></div>
    </div>
    <div>
        <input type="password" th:field="*{password}" placeholder="Hasło"/>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="colorx:red;"></div>
    </div>
    <button type="submit">Edytuj</button>
</form>
<div th:include="layout :: footer"></div>
</body>
</html>